# Configuração do servidor
PORT=9999

# URLs dos Payment Processors
# Para desenvolvimento local (fora do Docker):
PAYMENT_PROCESSOR_URL_DEFAULT=http://localhost:8001
PAYMENT_PROCESSOR_URL_FALLBACK=http://localhost:8002

# Para produção com Docker:
# PAYMENT_PROCESSOR_URL_DEFAULT=http://payment-processor-default:8080
# PAYMENT_PROCESSOR_URL_FALLBACK=http://payment-processor-fallback:8080 